@use '../index' as i;

body {
  font-family: "Sora", sans-serif;
}

.header {
  width: 100%;
  border: 1px solid blue;

  @media (max-width: i.$sm) {
    border: 3px solid i.$primary;
  }
}

ul {
  list-style: none;
}