@use '../index' as *;

body {
  font-family: "Sora", "Arial", "Helvetica", sans-serif;
  background-color: $white_shaded;
}

* {
  font-family: inherit;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 100%;
  max-width: 1200px;
  padding: 0 15px;
  box-sizing: border-box;
}

.header {
  width: 100%;
  border: 1px solid blue;

  @media (max-width: $sm) {
    border: 3px solid $primary;
  }
}