$primary: #C67C4E;
$primary_light: #F9F2ED;
$primary_medium: #EDD6C8;

$primary_dark: #452B1B;
$primary_light_dark: #774A2F;
$primary_medium_dark: #593823;


$gray: #A2A2A2;
$gray_light: #E3E3E3;
$gray_medium: #797979;
$gray_dark: #313131;

$black: #050505;


$white: #FFFFFF;
$white_shaded: #F9F9F9;

$gold: #fbbc05;

$radius_small: 4px;
$radius_medium: 8px;
$radius_large: 16px;
$radius_round: 50%;

$shadow: 2px 5px 7px 3px $gray_light;